/* 
  >>>>>>>>>> START UTILS 
*/
.mt3 {
  margin-top: 3rem;
}
/* 
  >>>>>>>>>> END UTILS
*/

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--container-padding);
  background-color: var(--clr-dark-850);
}

.inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--clr-dark-400);
  border-radius: 10px;
  background-color: var(--clr-dark-900);
}

/* 
  >>>>>>>>>> START CARD 
*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 94ch;
  text-align: center;
  min-height: calc(100vh - var(--container-padding) * 2);
}

.card__title-big {
  font-size: clamp(2rem, 4vw + 1rem, 75px);
}

.card__title {
  text-align: center;
  font-size: clamp(1.8rem, 4vw + 1rem, 2.5rem);
}

.card__subtitle {
  font-size: clamp(0.85rem, 1vw + 0.75rem, 1rem);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.1rem;
}

.card > p {
  padding: 1rem;
}

.card > h2 {
  margin-bottom: 1rem;
}
/* 
  >>>>>>>>>> END CARD 
*/

/* 
  >>>>>>>>>> START FORM 
*/
.form-card__container {
  width: 100%;
  min-height: calc(100vh - var(--container-padding) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-card__header,
.form-card__footer {
  font-size: 0.8rem;
  text-align: right;
  text-transform: uppercase;
}

.form-card__header {
  margin-block: clamp(1rem, 3vh, 1.6rem);
  margin-right: 3rem;
}

.form-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card__footer {
  margin-block: clamp(0.8rem, 3vh, 1.5rem);
  margin-inline: 1.75rem;
}

.form-card__footer p {
  color: var(--clr-dark-400);
}

.form-step-progress-bar {
  height: 14px;
  margin-top: 8px;
  border-radius: 28px;
  outline: 1px solid var(--clr-dark-400);
  overflow: hidden;
}

.form-step-progress-bar__fill {
  height: 100%;
  background-color: var(--clr-light-100);
}
/* 
  >>>>>>>>>> END FORM 
*/

/* 
  >>>>>>>>>> START BTNS 
*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
  padding-block: clamp(0.5rem, 3vw, 1rem);
  padding-inline: clamp(1rem, 3vw, 3rem);
  font-weight: 700;
}

.btn-next {
  min-width: 245px;
  margin-top: min(8vh, 5rem);
  color: var(--clr-dark-900);
  background-color: var(--clr-light-100);
  font-size: clamp(0.75rem, 3vw, 1rem);
  line-height: 1;
}

.btn-prev {
  font-size: clamp(0.5rem, 3vw, 0.75rem);
}

.radio-btn__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(1rem, 4vw, 4.5rem);
  margin-top: clamp(1.5rem, 5vh, 3rem);
}

.radio-btn__container div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio-btn__container label {
  font-size: 1.5rem;
  font-weight: 400;
}
/* 
  >>>>>>>>>> END BTNS 
*/

/* 
  >>>>>>>>>> START PROGRESS BAR
*/
.points-bar {
  width: clamp(100%, 40vw, 640px);
  height: 50px;
  margin-top: 1.2rem;
  outline: 2px solid var(--clr-light-100);
}

.points-bar__fill {
  height: 100%;
  background-color: var(--clr-light-100);
}
/* 
  >>>>>>>>>> END PROGRESS BAR
*/

/* 
  >>>>>>>>>> START MISCELLANEUS
*/
.not-found {
  text-align: center;
}

@media (max-width: 600px) {
  .card > a {
    margin-bottom: 1rem;
  }

  .form-card__footer > p,
  .form-card__header {
    text-align: center;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .radio-btn__container {
    flex-direction: column;
  }
}
