@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --container-padding: clamp(1rem, 4vw, 3rem);
  --clr-light-100: hsl(0, 0%, 100%);
  --clr-dark-400: hsl(0, 0%, 42%);
  --clr-dark-850: hsl(0, 0%, 7%);
  --clr-dark-900: hsl(0, 0%, 5%);
}

html,
input {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--clr-light-100);
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text'] {
  width: 100%;
  padding: 0.2rem 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid;
  border-bottom-color: var(--clr-dark-400);
  color: var(--clr-dark-400);
  font-size: 1.2rem;
  font-weight: 300;
}

input:focus {
  outline: none;
}

input[type='checkbox'] {
  width: 30px;
  height: 30px;
  margin: 0;
  font: inherit;
  color: currentColor;
  border: 2px solid var(--clr-dark-400);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control {
  font-family: inherit;
  font-size: 1.2rem !important;
  /* font-size: clamp(0.9rem, 4vw, 1.2rem) !important; */
  font-weight: 100 !important;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.75em;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

.radio-btn {
  width: 1.5rem;
  /* width: clamp(1rem, 4vw, 1.5rem); */
  height: 1.5rem;
  /* height: clamp(1rem, 4vw, 1.5rem); */
  margin: 0;
  background-color: var(--clr-dark-900);
  color: currentColor;
  border: 2px solid var(--clr-dark-400);
  border-radius: 50%;
  transform: translateY(-2px);
  display: grid;
  place-content: center;
}

.radio-btn::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  clip-path: polygon(13% 44%, 48% 70%, 90% 9%, 99% 14%, 49% 88%, 6% 54%);
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-light-900);
  background-color: CanvasText;
}

.radio-btn:checked {
  border: 2px solid currentColor;
  background-color: var(--clr-light-100);
}

.radio-btn:checked::before {
  transform: scale(1);
}

input[type='checkbox']::before {
  content: '';
  width: 1rem;
  height: 1rem;
  clip-path: polygon(13% 44%, 48% 70%, 90% 9%, 99% 14%, 49% 88%, 6% 54%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-dark-900);
}

input[type='checkbox']:checked {
  background-color: var(--clr-light-100);
  border: 2px solid currentColor;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

select {
  font-size: 1.2rem;
  padding: 1rem 5rem 1rem 1.5rem;
  background: var(--clr-dark-900);
  color: var(--clr-light-100);
  outline: none;
  cursor: pointer;
  appearance: none;
  width: 100%;
  max-width: 640px;
  border: 2px solid var(--clr-light-100);
}

.custom-select {
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 640px;
  margin-top: clamp(1.5rem, 5vh, 3rem);
}

.custom-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4rem;
  background: transparent;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 7px solid var(--clr-light-100);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
